/* here's my css variables */
:root {
    --font-color-white: #ffffff;
    --font-color-2: #e3e3e3;
    --font-color-3: #909090;
    --main-bg-color: #4D8BFC;
    --main-heading-color: #000000;

    --my-font: "Atkinson Hyperlegible", sans-serif;

    --line-height-xl: 6rem;
    --line-height-lg: 5rem;
    --line-height-md: 2rem;
    --line-height-sm: 1rem;

    --ctnr-padding: 10rem 0 0 0;
    --padding-sm: 1rem;
    --mb-padding: 3.5rem;

    --margin-lg: 3rem;
    --margin-md: 2rem;
    --margin-sm: 1rem;

    --font-size-xl: 4.5rem;
    --font-size-lg: 3rem;
    --font-size-md-2: 2rem;
    --font-size-md: 1.6rem;
    --font-size-sm: 1.3rem;
    --font-size-xsm: 1rem;

    --font-weight-xl: bold;
    --font-weight-lg: 500;
    --font-weight-md: 400;
    --font-weight-sm: 300;

    --letter-spacing: .1rem;

    --border-radius: .5rem;

    --my-transition: 0.5s;



    /* header vars */
    --header-heading: 6rem;

    /* slider vars */
    --slider-font-size: 2.5rem;
    
    /* info vars */
    --info-font-size: 11.5rem;
    
    /* footer vars */
    --footer-font-color: #a3c2fd;

    /* accordian vars */
    --acc-padding: 1rem;
    --my-box-shadow :.3rem .5rem 1rem rgb(201, 201, 201);
}








/* my font size's media query start */
html {
    font-size: 62.5%;
}

@media (min-width:1200px) {
    html {
        font-size: 68.75%;
    }
}

@media (min-width:1000px) {
    html {
        font-size: 68.75%;
    }
}

@media (max-width:992px) {
    html {
        font-size: 62.5%;
    }
}

@media (max-width:768px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width:576px) {
    html {
        font-size: 50%;
    }
}

/* my font size's media query end */







/* the alifa's site start */



/* header start */
header{
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.622);
    background-blend-mode: multiply;
}

.topbar{
    background-color: var(--main-bg-color);
}

.tb-icon{
    color: var(--font-color-white);
    font-size: var(--font-size-md-2);
    transition: var(--my-transition);
}

.tb-text-sec:hover .tb-icon{
    transform: scale(1.2);
}

.tb-icon-2{
    color: var(--font-color-2);
    font-size: var(--font-size-md);
    margin-left: var(--margin-sm);
    transition: var(--my-transition);
}

.tb-icon-2:hover{
    transform: rotateY(180deg);
}

.tb-icon-3{
    color: var(--font-color-2);
    font-size: var(--font-size-md-2);
    transition: var(--my-transition);
    padding: 1.3rem 1rem;
    border-radius: 100%;
}

.tb-icon-3:hover{
    background-color: var(--font-color-white);
    color: black;
}

.tb-text{
    color: var(--font-color-white);
    font-size: var(--font-size-md);
    font-family: var(--my-font);
    font-weight: var(--font-weight-xl);
    line-height: var(--line-height-sm);
}

.tb-text-2{
    color: var(--font-color-2);
    font-size: var(--font-size-sm);
    font-family: var(--my-font);
    text-transform: capitalize;
    line-height: var(--line-height-sm);
}

.tb-inner-2{
    position: relative;
}

.tb-scl-icon-sec{
    position: absolute;
    right: 0;
}

.btm-heading{
    color: var(--font-color-white);
    font-size: var(--header-heading);
    font-family: var(--my-font);
    font-weight: bold;
    text-transform: capitalize;
    line-height: var(--line-height-xl);
}

.btm-heading span{
    color: var(--main-bg-color);
    font-size: var(--header-heading);
    font-family: var(--my-font);
    font-weight: bold;
    text-transform: capitalize;
    line-height: var(--line-height-xl);
}

.btm-text{
    color: var(--font-color-2);
    font-family: var(--my-font);
    font-size: var(--font-size-md-2);
}

.btm-btn{
    background-color: var(--main-bg-color);
    border: .1rem solid transparent;
    padding: 1.5rem 3rem;
    color: var(--font-color-white);
    font-size: var(--font-size-md);
    font-weight: bold;
    font-family: var(--my-font);
    text-transform: capitalize;
    border-radius: 0.8rem;
    letter-spacing: var(--letter-spacing);
    transition: var(--my-transition);
}
/* header end */






/* container 2 start */
.ctnr-2 , .ctnr-3 , .ctnr-7 , .ctnr-9 , .ctnr-10{
    padding: var(--ctnr-padding);
    position: relative;
}

.heading-border{
    position: absolute;
    background-color: var(--main-bg-color);
    top: 8rem;
    height: 0.6rem;
    left: 50%;
}

.ctnr-heading{
    color: var(--main-heading-color);
    font-size: var(--header-heading);
    font-family: var(--my-font);
    font-weight: bold;
    text-transform: capitalize;
    line-height: var(--line-height-xl);
}

.ctnr-heading span{
    color: var(--main-bg-color);
    font-size: var(--header-heading);
    font-family: var(--my-font);
    font-weight: bold;
    text-transform: capitalize;
    line-height: var(--line-height-xl);
}

.ctnr-main-text{
    color: var(--font-color-3);
    font-family: var(--my-font);
    font-size: var(--font-size-md-2);
    margin-top: var(--margin-lg);
}

.ctnr-2-icon{
    color: var(--main-bg-color);
    font-size: var(--font-size-xl);
    transition: var(--my-transition);
}

.ctnr-2-text{
    color: var(--main-heading-color);
    font-family: var(--my-font);
    font-size: var(--font-size-md);
    font-weight: bold;
    text-transform: capitalize;
    margin-top: var(--margin-sm);
}

.ctnr-2-mb{
    box-shadow: .3rem .5rem 1rem rgb(201, 201, 201);
    padding: var(--mb-padding);
}

.ctnr-2-mb:hover .ctnr-2-icon{
    transform: rotateY(180deg);
}

.contact-btns-pera{
    color: var(--font-color-3);
    font-family: var(--my-font);
    font-size: var(--font-size-sm);
    padding: 1rem;
    border: .2rem solid var(--font-color-2);
    border-radius: 3rem;
    text-align: center;
}

.contact-btns-pera button{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: var(--main-bg-color);
    flex-wrap: wrap;
}
/* container 2 end */






/* container 3 start */
.ctnr-3-text-sec{
    position: relative;
}

.ctnr-3 .heading-border{
    top: -2rem;
    left: 0;
}

.facilities-icon{
    background-color: #93b8fe;
    padding: .7rem;
    border-radius: 100%;
    font-size: var(--font-size-md);
    transition: var(--my-transition);
}

.facilities-div:hover .facilities-icon{
    background-color: var(--main-bg-color);
    color: white;
    transform: scale(1.2);
}
/* container 3 end */






/* container 5 end */
.ctnr-5{
    background-color: var(--main-bg-color);
    position: relative;
    padding: var(--ctnr-padding);
}

.ctnr-5 .btm-heading span{
    color: #93b8fe;
    font-size: var(--font-size-xl);
}

.ctnr-5 .btm-heading{
font-size: var(--font-size-xl);
}

.ctnr-5 .ctnr-main-text{
    color: #a2c2ff;
}

.ctnr-5 .heading-border{
    background-color: white;
    left: 1rem;
    top: -1rem;
}

.ctnr-5-btn{
    background-color: transparent;
    border: .2rem solid var(--font-color-white);
    border-radius: 100%;
    padding: .5rem 1rem;
    font-size: var(--font-size-md-2);
    color: var(--font-color-white);
    margin-left: var(--margin-sm);
}

.ctnr-5-slider-img{
    position: relative;
}

.ctnr-5-slider-img .ctnr-main-text{
    font-size: var(--slider-font-size);
    text-transform: capitalize;
    color: var(--font-color-white);
    font-weight: bold;
    position: absolute;
    bottom: 0rem;
    left: 2rem;
}

.ctnr-5-slider-img img{
    border-radius: 1rem;
}

.slider-img-overlay{
    position: absolute;
    background-color: #0000006b;
    top: 0;
    height: 100%;
    border-radius: 1rem;
    transition: var(--my-transition);
}

.ctnr-5-slider-img:hover .slider-img-overlay{
    background-color: #4d8afc39;
}

.slider-img-title{
    color: var(--font-color-white);
    font-size: var(--font-size-md);
    font-family: var(--my-font);
    background-color: var(--main-bg-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    text-transform: capitalize;
    position: absolute;
    bottom: 8rem;
    left: 2rem;
}
/* container 5 end */




/* container 6 start */
.my-accordian{
    padding: var(--acc-padding);
    box-shadow: var(--my-box-shadow) ;
    border-radius: .8rem;
    margin-top: var(--margin-md);
}

.my-acc-btn{
    background-color: transparent;
    border: none;
    font-size: var(--font-size-md);
}
/* container 6 end */







/* container 7 start */
.info-text{
    color: var(--main-bg-color);
    font-family: var(--my-font);
    font-size: var(--info-font-size);
    font-weight: bold;
    line-height: var(--line-height-lg);
}

.info-text-2{
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin-top: var(--margin-lg);
}

.info-mb .ctnr-main-text{
    font-size: var(--font-size-md);
    margin-top: -0.5rem;
}
/* container 7 end */






/* container 8 start */
.ctnr-8{
    background-image: url(img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--main-bg-color);
    background-blend-mode: multiply;
}

.ctnr-8-heading{
    color: var(--font-color-white);
    font-size: var(--font-size-xl);
    font-family: var(--my-font);
    font-weight: bold;
    text-align: center;
}
/* container 8 end */







/* container 9 start*/
.ctnr-9 .ctnr-heading , .ctnr-9 .ctnr-heading span{
    font-size: var(--font-size-xl);
    line-height: var(--line-height-lg);
}

.ctnr-9-text-sec , .ctnr-5-text-sec{
    position: relative;
}

.ctnr-9 .heading-border{
    left: 1rem;
    top: -1rem;
}

.plane-img{
    position: absolute;
    top: 0;
    left: 2rem;
}

.person-name{
    color: var(--font-color-3);
    font-family: var(--my-font);
    font-size: var(--font-size-sm);
    text-transform: capitalize;
}

.ctnr-9-logo-img{
    filter: opacity(0.5);
    transition: var(--my-transition);
}

.ctnr-9-logo-img:hover{
    filter: none;
}
/* container 9 end */








/* container 10 start */
.ctnr-10-gallery .ctnr-2-text{
    color: var(--font-color-3);
}

.ctnr-10-text{
    color: var(--main-heading-color);
    font-family: var(--my-font);
    font-size: var(--font-size-md-2);
    font-weight: bold;
    text-transform: capitalize;
    margin-top: var(--margin-sm);
}
/* container 10 end */






/* footer start */
footer{
    background-color: var(--main-bg-color);
    padding-top: 5rem;
}

.footer-inp{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color-2);
    font-family: var(--my-font);
    font-size: var(--font-size-md);
    padding: var(--padding-sm);
}

.footer-inp::placeholder{
    color: var(--font-color-2);
    font-family: var(--my-font);
    font-size: var(--font-size-md);
    text-transform: capitalize;
}

form{
    background-color: #2c76ff;
}

.footer-btn{
    background-color: transparent;
    border: none;
    color: var(--font-color-white);
    font-size: var(--font-size-md);
}

.footer-menu .ctnr-2-text{
    color: var(--font-color-white);
    font-size: var(--font-size-sm);
}

.footer-menu-item{
    color: var(--footer-font-color);
    font-family: var(--my-font);
    font-size: var(--font-size-md);
    text-transform: capitalize;
    transition: var(--my-transition);
}

.footer-menu-item:hover {
    color: var(--font-color-white);
}

.copyright{
    color: var(--font-color-white);
    font-family: var(--my-font);
    font-size: var(--font-size-md);
    border-top: .1rem solid var(--footer-font-color);
    padding-top: 5rem;
}
/* footer end */

/* the alifa's site end */






/* those classes which i used permanantly */
.rough {
    border: .1rem solid rgb(0, 0, 0);
}

.ctnr-padding {
    padding: 10rem 0;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html a{
    text-decoration: none;
}

.map{
    margin-top: 20rem;
}